TesePhD/main.aux
TesePhD/main.bcf
TesePhD/main.blg
TesePhD/main.lof
TesePhD/main.log
TesePhD/main.lot
TesePhD/main.nlo
TesePhD/main.out
TesePhD/main.pre
TesePhD/main.toc

TesePhD/Abs_english.aux
TesePhD/Abs_english.bcf
TesePhD/Abs_english.blg
TesePhD/Abs_english.lof
TesePhD/Abs_english.log
TesePhD/Abs_english.lot
TesePhD/Abs_english.nlo
TesePhD/Abs_english.out
TesePhD/Abs_english.pre
TesePhD/Abs_english.toc
